<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>新規メッセージ</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/input.css" th:href="@{/css/input.css}" rel="stylesheet"></link>
</head>

<body>
<form action="" method="post" >
<div class="container">
	<div class="container-position" >
    	<img th:src="@{/img/logo.png}">
		<p>テンプレート：<br>
			<select style="width:500px;">
			<option value="">選択してください</option>
			<option value="">勤怠連絡　休暇</option>
			<option value="">勤怠連絡　遅刻</option>
			<option value="">業務報告　日報</option>
			</select>
		</p>
		<p>To：<br>
		<input type="text" th:field="${mailModel.toAd}" style="width:400px;"> <input type="button" value="追加" id="add1"> <input type="button" value="取消" id="remove1"></p>
		<p>Cc：<br>
		<input type="text" th:field="${mailModel.ccAd}" style="width:400px;"> <input type="button" value="追加" id="add2"> <input type="button" value="取消" id="remove2"></p>
		<p>Bcc：<br>
		<input type="text" name="name4" style="width:400px;"> <input type="button" value="追加" id="add3"> <input type="button" value="取消" id="remove3"></p>
		<p>件名：<br>
		<input type="text" th:field="${mailModel.title}" style="width:500px; height: 48px; "></p>

		<p>本文：<br><input type="text" th:field="${mailModel.content}" style="width:500px;"></p>
		<input type="submit" class="sendBtn" value ="送信"/>
	</div>
</div>
</form>

	<div id="modal" class="modal" >
		<div class="modal-content">
			<div class="modal-body">
				<h1>全社員メールアドレス</h1>
				<select style="width:30%;">
				<option value="">Unit</option>
				<option value="">マネージャー1</option>
				<option value="">マネージャー2</option>
				<option value="">マネージャー3</option>
				</select>

				<select style="width:30%;">
				<option value="">Team</option>
				<option value="">インピタス1</option>
				<option value="">インピタス2</option>
				<option value="">インピタス3</option>
				</select>

				<select style="width:30%;">
				<option value="">Name</option>
				<option value="">あああ1</option>
				<option value="">あああ2</option>
				<option value="">あああ3</option>
				</select>
			</div>
			<input type="button" id="closeBtn" value="close">
		</div>
	</div>
	<script src="/js/input.js" th:src="@{/js/input.js}"></script>
</body>
</html>